* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 3rem; /* Add some padding inside the container */
  width: 70%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  min-width: 100%;
  border-bottom: 1px solid #ddd;
  /* padding-left: 4rem;
  padding-right: 4rem; */
  position: fixed;
}

.nav-burger {
  cursor: pointer;
}

.nav-burger:hover {
  color: tomato;
}

.nav-search {
  cursor: pointer;
}

.nav-search:hover {
  color: tomato;
}

.nav-logo {
  width: 5rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding-right: 2rem;
}

.nav-link:hover {
  text-decoration: underline;
  color: #333;
}

.btn {
  width: 120%;
  background-color: #333;
  margin: 0.5rem;
  padding: 0.8rem 1.4rem;
  color: white;
  text-decoration: none;
}
